body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Nav Bar */
nav {
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: sticky;
    top: 0;
}

nav img {
    height: 50px;
}

nav ul {
    padding: 0;
}

nav ul li{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    margin: auto 10px;
}

nav a {
    color: seashell;
    text-decoration: underline;
}

nav a:hover {
    text-decoration: none;
}

nav a:active {
    opacity: 0.50;
}
/* Mission */

/* Featured Teas */

/* Locations */

/* Footer */